<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>165.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{63,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>166.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>167.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,117},{53,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>168.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{51,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,61}</string>
            </dict>
            <key>169.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>170.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,61},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>171.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>172.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,179},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>archerMoveToEast.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af01e6bc154adcf5e2d436fab34f1369$</string>
            <key>textureFileName</key>
            <string>archerMoveToEast.png</string>
        </dict>
    </dict>
</plist>
