<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{57,62}</string>
            </dict>
            <key>2.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{55,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{55,62}</string>
            </dict>
            <key>3.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,66},{53,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{53,58}</string>
            </dict>
            <key>4.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,188},{52,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>5.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>6.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{50,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{50,59}</string>
            </dict>
            <key>7.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,126},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{50,56}</string>
            </dict>
            <key>8.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{53,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{53,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueArcherMoveToSouthWest.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db6c5d5cdfc40378a7013210344a73e5:1f502e0286ca0cdcc91c4bd2ef7a3b5a:4ee17a366393e05a4047a2f027731c63$</string>
            <key>textureFileName</key>
            <string>BlueArcherMoveToSouthWest.png</string>
        </dict>
    </dict>
</plist>
