<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>612.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,96}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>613.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,100},{68,92}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>614.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{54,84}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>615.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,156},{52,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>616.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,80},{62,74}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>617.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{64,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>618.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{60,84}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>619.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{66,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueOxHornMoveToNorthEast.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:821544327396d1faf49d8a65869fa089:9a2dc408a342fb481363c3db339d347e:9893b6a1a1150bb721e3810da2f15b94$</string>
            <key>textureFileName</key>
            <string>BlueOxHornMoveToNorthEast.png</string>
        </dict>
    </dict>
</plist>
