<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>25.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>26.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueArcherStandAndFaceToSouthEast.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c5252a14d375c5e7c0b1efaa5e747d5:12d18136bd947434fd97ee67f0808350:0c4ad118d5306440e37d34c8c6b64708$</string>
            <key>textureFileName</key>
            <string>BlueArcherStandAndFaceToSouthEast.png</string>
        </dict>
    </dict>
</plist>
