<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,63}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>2.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{56,63}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>3.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,67},{54,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>4.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,191},{52,57}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>5.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{52,61}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>6.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{50,59}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>7.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,128},{50,57}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>8.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{54,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueArcherMoveToSouthWest.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e3b3e04cbc88eeb0575c3111a2c5228:d548dee9fe1c39af77e048c07c6b5870:4ee17a366393e05a4047a2f027731c63$</string>
            <key>textureFileName</key>
            <string>BlueArcherMoveToSouthWest.png</string>
        </dict>
    </dict>
</plist>
