<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,59}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>11.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,118},{54,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>12.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,185},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>13.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>14.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,61},{56,55}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>15.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{52,61}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>16.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{50,61}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>9.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{64,57}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueArcherMoveToWest.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dacd1419f5791f012e2f7919d5343fae:4bdac6bc6596f2c38a0d9d434913293b:5de58acfb949cc189b626b31ef8e3e24$</string>
            <key>textureFileName</key>
            <string>BlueArcherMoveToWest.png</string>
        </dict>
    </dict>
</plist>
