<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>45.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,55}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>46.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{56,57}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>47.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,59},{56,55}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>48.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{58,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueArcherAttackToEast.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e51e994a32a7f4f9d1ac12b6f01d9c6:fa84093c62e95b81a605dada54fcf32a:1ba5888c7d68d7175f3d9ec5c446bcde$</string>
            <key>textureFileName</key>
            <string>BlueArcherAttackToEast.png</string>
        </dict>
    </dict>
</plist>
