<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>49.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,71},{41,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{41,75}</string>
            </dict>
            <key>50.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{34,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{34,70}</string>
            </dict>
            <key>51.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{42,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{42,67}</string>
            </dict>
            <key>52.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueArcherAttackToNorthEast.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2671ce63d131167e2c38491a28710b01:e88fff9d6bcc6cd658796c3a464d058a:5ab3de9041d8c6785e7e6938f77f5a2f$</string>
            <key>textureFileName</key>
            <string>BlueArcherAttackToNorthEast.png</string>
        </dict>
    </dict>
</plist>
