<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>672.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,272},{44,82}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>673.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,190},{54,80}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>674.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{72,78}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>675.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{64,82}}</string>
                <key>offset</key>
                <string>{-21,5}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>676.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,112}}</string>
                <key>offset</key>
                <string>{-10,19}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>677.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,96},{68,92}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>678.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{72,92}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>679.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,82},{70,90}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>680.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,174},{62,86}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>681.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{50,96}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>682.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,262},{48,94}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueOxHornAttackToNorthEast.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:691ae483691b2d082b9f2ecb02b1557b:c8dd66c74283deca55c0a08812935842:0dd68ff1986b4e83598f7a37ae586bc8$</string>
            <key>textureFileName</key>
            <string>BlueOxHornAttackToNorthEast.png</string>
        </dict>
    </dict>
</plist>
