<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>45.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,55}</string>
            </dict>
            <key>46.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>47.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>48.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{58,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{58,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueArcherAttackToEast.png</string>
            <key>size</key>
            <string>{256,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ae50cc2c670ba95a92bb1c4e5a16269:19bdd175a2e489f2fc7f9a95b3b505c5:1ba5888c7d68d7175f3d9ec5c446bcde$</string>
            <key>textureFileName</key>
            <string>BlueArcherAttackToEast.png</string>
        </dict>
    </dict>
</plist>
