<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>30.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{39,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{39,69}</string>
            </dict>
            <key>31.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{41,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueArcherStandAndFaceToNorthWest.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6b14b86cc1c88075700aaf10413b2be:94c0904223cad7b38149da82818cafc2:5b9b61a2d172835694ab7019a682a004$</string>
            <key>textureFileName</key>
            <string>BlueArcherStandAndFaceToNorthWest.png</string>
        </dict>
    </dict>
</plist>
