<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>17.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{44,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>18.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,81},{52,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>19.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{48,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>20.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{50,73}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>21.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>22.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,160},{52,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>23.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,77},{46,69}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>24.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,158},{44,71}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueArcherMoveToNorthEast.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de99e376bf1d925beaa5eb3005b0192e:7b6409d201495bd4e3a89ead3c0917d6:09fe845cbf03e4e826b432966bfc878c$</string>
            <key>textureFileName</key>
            <string>BlueArcherMoveToNorthEast.png</string>
        </dict>
    </dict>
</plist>
