<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>11.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,118},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{54,60}</string>
            </dict>
            <key>12.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,183},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>13.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,59},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>14.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>15.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{52,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{52,61}</string>
            </dict>
            <key>16.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>9.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{64,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{64,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueArcherMoveToEast.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84411e141f0dc9bf6a57ecb4df14c4e1:83f494abac576fd0d4a2f1fc3bb42d6e:445c3f289c95631682c5b65be10c4f55$</string>
            <key>textureFileName</key>
            <string>BlueArcherMoveToEast.png</string>
        </dict>
    </dict>
</plist>
