<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>41.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{58,63}</string>
            </dict>
            <key>42.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{43,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{43,66}</string>
            </dict>
            <key>43.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,67},{43,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{43,64}</string>
            </dict>
            <key>44.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{47,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{47,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueArcherAttackToSouthWest.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea961de4d6e4159e06e058eaaf1f30c8:c807183d114c97805f641c207370f493:1a1b3f80d8df24f158ea7da4268e7fe3$</string>
            <key>textureFileName</key>
            <string>BlueArcherAttackToSouthWest.png</string>
        </dict>
    </dict>
</plist>
