<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>27.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>28.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{50,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueArcherStandAndFaceToWest.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f519cfb89e13ba9db78fe7622ec9ffb:7ed06f0b1e13129c320a6a9291081a1d:3c0a708e39af96929751e5fbef13ad90$</string>
            <key>textureFileName</key>
            <string>BlueArcherStandAndFaceToWest.png</string>
        </dict>
    </dict>
</plist>
