<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>49.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{42,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>50.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{34,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>51.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{42,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>52.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,69}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueArcherAttackToNorthEast.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01327e5fea95fc31d3d3c35441e2a9ee:a8dbefc69787dc41e553f28c58828c7d:5ab3de9041d8c6785e7e6938f77f5a2f$</string>
            <key>textureFileName</key>
            <string>BlueArcherAttackToNorthEast.png</string>
        </dict>
    </dict>
</plist>
