<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>45.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,55}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>46.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{56,57}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>47.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,59},{56,55}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>48.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{58,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueArcherAttackToWest.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca2b5b28058f65495f1e6fcc9facac8a:047e4885599c85aca14ae3e6de0226c3:50eaef028205537e6d2b8bedca2cac92$</string>
            <key>textureFileName</key>
            <string>BlueArcherAttackToWest.png</string>
        </dict>
    </dict>
</plist>
