<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>45.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{70,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>46.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>47.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>48.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{58,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueArcherAttackToEast.png</string>
            <key>size</key>
            <string>{256,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:721e709bf5198da6d4e9a420fa8230f1:e0c4ee80d5877b011a39935a2f664668:1ba5888c7d68d7175f3d9ec5c446bcde$</string>
            <key>textureFileName</key>
            <string>BlueArcherAttackToEast.png</string>
        </dict>
    </dict>
</plist>
