<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>17.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{44,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{44,77}</string>
            </dict>
            <key>18.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,81},{51,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,74}</string>
            </dict>
            <key>19.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{47,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{47,77}</string>
            </dict>
            <key>20.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{49,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{49,72}</string>
            </dict>
            <key>21.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,77}</string>
            </dict>
            <key>22.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,160},{52,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{52,75}</string>
            </dict>
            <key>23.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,76},{45,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{45,69}</string>
            </dict>
            <key>24.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,157},{43,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{43,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueArcherMoveToNorthWest.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd9ab4a2d961bb8797c15722083db94d:09e47d043e433b6cc355ed803ea74d4a:4c9a04d3613db55f1a314085161aeeb2$</string>
            <key>textureFileName</key>
            <string>BlueArcherMoveToNorthWest.png</string>
        </dict>
    </dict>
</plist>
