<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>525.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,94}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>526.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{73,82}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>527.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,166},{67,78}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>528.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,166},{75,76}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>529.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{83,74}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>530.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,78},{81,76}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>531.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,86},{71,78}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>532.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{69,86}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BrownOxHornMoveToNorthEast.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:799574a5d661806b7339cb92e0906e16:466580b692a0c7a63cd2c81f359ca44c:9cc561975812ef5d36aa4d113d5ff554$</string>
            <key>textureFileName</key>
            <string>BrownOxHornMoveToNorthEast.png</string>
        </dict>
    </dict>
</plist>
