<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>509.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,82},{67,78}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>510.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,86},{57,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>511.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{69,80}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>512.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,168},{75,78}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>513.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{75,78}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>514.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{75,82}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>515.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{67,82}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>516.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{57,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BrownOxHornMoveToSouthEast.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1b7182d694a54351e3185c299a4bfa6:510b9f4f528f800d8ca9a9295e420cf4:f51a972bcf8e36bfa58cf65d3122409f$</string>
            <key>textureFileName</key>
            <string>BrownOxHornMoveToSouthEast.png</string>
        </dict>
    </dict>
</plist>
