<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>534.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,88}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BrownOxHornStandAndFaceToEast.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a543508aa91063b18e0e0771c3b69c05:d0b60308722acd6a5f9cd358cea7fd60:52e5c95c5cb66954092c7329dcd53198$</string>
            <key>textureFileName</key>
            <string>BrownOxHornStandAndFaceToEast.png</string>
        </dict>
    </dict>
</plist>
