<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>585.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{89,72}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>586.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,80},{59,72}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>587.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,164},{73,72}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>588.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{75,76}}</string>
                <key>offset</key>
                <string>{22,-18}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>589.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,164},{75,112}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>590.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,278},{69,82}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>591.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,238},{69,82}}</string>
                <key>offset</key>
                <string>{17,-15}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>592.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{81,82}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>593.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,80},{91,82}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>594.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,80}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>595.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{95,76}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BrownOxHornAttackToNorthWest.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:136667be8d91a48d9498cd134770481c:85d72767f9cb39d8016694ab522a9ff5:346728b8ffc3e6291d9ab5525f105337$</string>
            <key>textureFileName</key>
            <string>BrownOxHornAttackToNorthWest.png</string>
        </dict>
    </dict>
</plist>
