<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3489.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{38,75}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>3490.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{38,75}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>3491.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{38,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>3492.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,75}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>Die.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f482e4407252490c2fb8eb7957511b3e:5d562b5336e0eb999456f06463199fdc:f623c01f2d4dd2bc0f89e63912f3ede5$</string>
            <key>textureFileName</key>
            <string>Die.png</string>
        </dict>
    </dict>
</plist>
