<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>53.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{56,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>54.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>55.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,146},{50,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>56.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,70},{48,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>57.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,138},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>58.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{48,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>59.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>60.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>GreenArcherMoveToSouthWest.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf3299925d2f25b583d3eafaf09e92ef:b97ac39f6cc0ddc123b41f45be218cfd:469fc884710d2c2408b5279b7f8d494e$</string>
            <key>textureFileName</key>
            <string>GreenArcherMoveToSouthWest.png</string>
        </dict>
    </dict>
</plist>
