<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>61.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{64,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>62.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>63.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,64},{54,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>64.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,68},{52,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>65.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{56,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>66.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,64},{56,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>67.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>68.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>GreenArcherMoveToEast.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e529a7eb5df8b64692a31df4deea7f3d:6df173c971a8b6d96432131462f40960:aa46feac4741e4f0085bd0b9e342207f$</string>
            <key>textureFileName</key>
            <string>GreenArcherMoveToEast.png</string>
        </dict>
    </dict>
</plist>
