<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>97.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,60}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>98.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>99.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{62,60}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>GreenArcherAttackToWest.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b8c450aab755cca1a70862733f5b616:519d558e612c8257ca538bd03157351f:2620f0cdf3b2fd2128117eaca29c2a8d$</string>
            <key>textureFileName</key>
            <string>GreenArcherAttackToWest.png</string>
        </dict>
    </dict>
</plist>
