<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>53.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{55,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{55,69}</string>
            </dict>
            <key>54.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{55,70}</string>
            </dict>
            <key>55.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,145},{49,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{49,66}</string>
            </dict>
            <key>56.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,138},{47,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{47,65}</string>
            </dict>
            <key>57.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,70},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>58.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{48,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{48,67}</string>
            </dict>
            <key>59.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,70},{46,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{46,64}</string>
            </dict>
            <key>60.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{48,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{48,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>GreenArcherMoveToSouthWest.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50852b277cba75b493f3f04aeab58634:740da8bff3e2829678b5c1a2675847f8:469fc884710d2c2408b5279b7f8d494e$</string>
            <key>textureFileName</key>
            <string>GreenArcherMoveToSouthWest.png</string>
        </dict>
    </dict>
</plist>
