<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>101.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{41,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{41,78}</string>
            </dict>
            <key>102.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{35,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{35,74}</string>
            </dict>
            <key>103.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{40,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{40,73}</string>
            </dict>
            <key>104.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{53,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>GreenArcherAttackToNorthEast.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16527b808c48e85c701d3ca7399e75e4:455aca8ae64ec664f42d3ab1067214aa:a88d5a2832a3f004fe351d8de42bc9bb$</string>
            <key>textureFileName</key>
            <string>GreenArcherAttackToNorthEast.png</string>
        </dict>
    </dict>
</plist>
