<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>69.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{49,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{49,77}</string>
            </dict>
            <key>70.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{55,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{55,74}</string>
            </dict>
            <key>71.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{51,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,76}</string>
            </dict>
            <key>72.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,158},{51,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,72}</string>
            </dict>
            <key>73.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{53,77}</string>
            </dict>
            <key>74.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,81},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>75.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,78},{49,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{49,69}</string>
            </dict>
            <key>76.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,158},{46,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{46,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>GreenArcherMoveToNorthWest.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1578142142bcdf3059391a3056217490:458a2f853702c9da73a16c1e9373326a:fa8ee3a1d962b793ffa94c77d4034bb3$</string>
            <key>textureFileName</key>
            <string>GreenArcherMoveToNorthWest.png</string>
        </dict>
    </dict>
</plist>
