<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>93.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>94.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{52,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>95.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,78},{50,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>96.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{52,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>GreenArcherAttackToSouthWest.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cf05a4b6e8d69ba6319d614adf98308:18a2699907d97cfe055d079e45fb24b2:badd42e75afa9c821059ebc179962ec1$</string>
            <key>textureFileName</key>
            <string>GreenArcherAttackToSouthWest.png</string>
        </dict>
    </dict>
</plist>
