<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,63},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>97.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{72,59}</string>
            </dict>
            <key>98.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{62,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{62,60}</string>
            </dict>
            <key>99.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{61,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{61,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>GreenArcherAttackToWest.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83e764ebff152e2b6c7938110efea82c:64b05570356882f72975d73d98838295:2620f0cdf3b2fd2128117eaca29c2a8d$</string>
            <key>textureFileName</key>
            <string>GreenArcherAttackToWest.png</string>
        </dict>
    </dict>
</plist>
