<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>82.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,2},{44,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{44,69}</string>
            </dict>
            <key>83.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{41,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{41,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>GreenArcherStandAndFaceToNorthEast.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0aa7dfaa65b494b6142df3d0ffe0cdbd:133133353756e2293bdc49e4415938b1:2b71e7f6547b1c958a301b430f66496e$</string>
            <key>textureFileName</key>
            <string>GreenArcherStandAndFaceToNorthEast.png</string>
        </dict>
    </dict>
</plist>
