<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>77.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>78.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>GreenArcherStandAndFaceToSouthEast.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fc83395637b67a01b1d770416bc993f:6a7967d8910a47a2d03f0f5a62e3bcaf:b3438e9d3330503c8670d112f3622438$</string>
            <key>textureFileName</key>
            <string>GreenArcherStandAndFaceToSouthEast.png</string>
        </dict>
    </dict>
</plist>
