<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>101.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{42,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>102.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{36,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>103.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{40,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>104.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>GreenArcherAttackToNorthWest.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68626ffd407eb52d049c129f6bdfdcec:128ca12703712dc06762c938e5b7f3ef:b23b4f5d69fa6b4098c7d5bdf22889eb$</string>
            <key>textureFileName</key>
            <string>GreenArcherAttackToNorthWest.png</string>
        </dict>
    </dict>
</plist>
