<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>93.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{61,72}</string>
            </dict>
            <key>94.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{51,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,74}</string>
            </dict>
            <key>95.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,78},{49,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{49,73}</string>
            </dict>
            <key>96.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{51,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>GreenArcherAttackToSouthWest.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbfcc7d7eac548b5fef35ea58da15d9c:8864d6f2c5ece450b8a303b64e86a502:badd42e75afa9c821059ebc179962ec1$</string>
            <key>textureFileName</key>
            <string>GreenArcherAttackToSouthWest.png</string>
        </dict>
    </dict>
</plist>
