<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>82.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>83.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{42,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>GreenArcherStandAndFaceToNorthEast.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a93670f8fb04e295e930bf57c2b84fd3:7f13073444c6176c453a552f0901367b:2b71e7f6547b1c958a301b430f66496e$</string>
            <key>textureFileName</key>
            <string>GreenArcherStandAndFaceToNorthEast.png</string>
        </dict>
    </dict>
</plist>
