<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>69.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{50,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>70.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{56,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>71.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,82},{52,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>72.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,160},{52,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>73.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>74.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{54,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>75.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,78},{50,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>76.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{46,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>GreenArcherMoveToNorthEast.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97237cb2709462caa9a428c0d8c3550b:831f0b8d0fae51083fa9d70df906977d:3ed40018b6dbfda20207cef5c3a13d1b$</string>
            <key>textureFileName</key>
            <string>GreenArcherMoveToNorthEast.png</string>
        </dict>
    </dict>
</plist>
