<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>77.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>78.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>GreenArcherStandAndFaceToSouthWest.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c24a11f562d9ad00f8593d871db98b95:73db5569a576f987ddba19e745021895:bf35795264118e7cc55d723d358831c3$</string>
            <key>textureFileName</key>
            <string>GreenArcherStandAndFaceToSouthWest.png</string>
        </dict>
    </dict>
</plist>
