<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>101.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{42,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>102.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{36,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>103.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{40,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
            <key>104.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{72,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>GreenArcherAttackToNorthEast.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c896f149798d90990fcb3f4d1a13f94:6233761504160c89f12aea8f08737cc6:a88d5a2832a3f004fe351d8de42bc9bb$</string>
            <key>textureFileName</key>
            <string>GreenArcherAttackToNorthEast.png</string>
        </dict>
    </dict>
</plist>
