<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>205.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{42,78}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>sourceSize</key>
                <string>{70,78}</string>
            </dict>
            <key>206.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{34,74}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>207.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{40,74}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
            <key>208.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,70}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PinkArcherAttackToNorthEast.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:598ccf747a43959dbf34dc9b644f02d3:0333c420c7ac4951aca95bf6669e1706:d38dbc2217bb3f9c338fff6e9bad7f33$</string>
            <key>textureFileName</key>
            <string>PinkArcherAttackToNorthEast.png</string>
        </dict>
    </dict>
</plist>
