<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>205.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{42,79}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>206.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{34,75}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>207.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{40,73}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>208.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,71}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PinkArcherAttackToNorthWest.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cb7a1d27b9bdab7a6ab543930a2fa54:9262868e3368ff79bd962933962f2958:67aae8ed40b56e20d16a1c9e32afe6ed$</string>
            <key>textureFileName</key>
            <string>PinkArcherAttackToNorthWest.png</string>
        </dict>
    </dict>
</plist>
