<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>173.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>174.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{56,71}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>175.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{52,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>176.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{52,69}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>177.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{54,73}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>178.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,77},{54,71}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>179.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,150},{50,67}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>180.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,150},{46,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PinkArcherMoveToNorthWest.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd059e3c99b1d8c7d2a65b895f2d0fa0:96d6aa78334bd39dca6bec0c139389a5:0a9c594e5508b54271ef0246b738dbcf$</string>
            <key>textureFileName</key>
            <string>PinkArcherMoveToNorthWest.png</string>
        </dict>
    </dict>
</plist>
