<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>197.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,63}}</string>
                <key>offset</key>
                <string>{5,-8}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>198.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{52,65}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>199.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,69},{50,65}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>200.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{52,63}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PinkArcherAttackToSouthEast.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:262f372911c357f72a0797ef9c72cb3f:f28cf35134f74848a5f601b34ca02bf0:376d1c7ad18839d15459277dcf9d1136$</string>
            <key>textureFileName</key>
            <string>PinkArcherAttackToSouthEast.png</string>
        </dict>
    </dict>
</plist>
