<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>173.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{49,75}</string>
            </dict>
            <key>174.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,77},{55,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{55,70}</string>
            </dict>
            <key>175.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{51,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,73}</string>
            </dict>
            <key>176.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,69}</string>
            </dict>
            <key>177.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{53,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>178.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{54,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>179.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,149},{49,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{49,66}</string>
            </dict>
            <key>180.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,149},{46,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{46,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PinkArcherMoveToNorthEast.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a84765c0d9d51328bb9ed34534e21263:f5027e33abfba04d7500bb31aca36a63:69ffac8cfac8ea672830f0d2b96c294a$</string>
            <key>textureFileName</key>
            <string>PinkArcherMoveToNorthEast.png</string>
        </dict>
    </dict>
</plist>
