<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>157.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{56,63}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>158.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,63}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>159.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{50,59}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>160.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,189},{48,59}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>161.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{46,61}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>162.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,67},{48,61}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>163.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,130},{46,57}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>164.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{48,59}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PinkArcherMoveToSouthWest.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23deefe2adeb23ab875ebe71cff292f2:c22cfc5716c28610f4875724e4521fcf:ba85dc41bb67693ebfab4713c4d3abc4$</string>
            <key>textureFileName</key>
            <string>PinkArcherMoveToSouthWest.png</string>
        </dict>
    </dict>
</plist>
