<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>197.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>198.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{51,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,65}</string>
            </dict>
            <key>199.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,69},{49,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{49,64}</string>
            </dict>
            <key>200.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{51,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PinkArcherAttackToSouthEast.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c99f48b7e31b385b5487aad9de387443:1b9aa5d833d01f83bdfdab56fb421d9f:376d1c7ad18839d15459277dcf9d1136$</string>
            <key>textureFileName</key>
            <string>PinkArcherAttackToSouthEast.png</string>
        </dict>
    </dict>
</plist>
