<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>157.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{56,63}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>158.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>159.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,128},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>160.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,128},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>161.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{46,61}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>162.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{48,61}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>163.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{46,57}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>164.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,67},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PinkArcherMoveToSouthWest.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9417913c3fe8935eb791566582ea693e:8d87c9c53423345a65f9787af244a5c7:ba85dc41bb67693ebfab4713c4d3abc4$</string>
            <key>textureFileName</key>
            <string>PinkArcherMoveToSouthWest.png</string>
        </dict>
    </dict>
</plist>
