<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>165.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{64,57}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>166.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,59}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>167.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,118},{54,61}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>168.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{52,61}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>169.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{56,57}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>170.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,61},{56,55}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>171.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{52,61}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>172.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,181},{50,61}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PinkArcherMoveToEast.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:281902be8239e9281a18cb763129dbe4:adb77c8d722ee97b17471e5043cc8dc3:e5f92b253a245e573931f8a97fa9f1e6$</string>
            <key>textureFileName</key>
            <string>PinkArcherMoveToEast.png</string>
        </dict>
    </dict>
</plist>
