<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>205.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{42,79}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>206.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{34,75}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>207.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{40,73}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>208.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,71}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PinkArcherAttackToNorthEast.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a377efd9a5b2f07961dc471a4dafe9a:9d40678b6af950210565d897553199c7:d38dbc2217bb3f9c338fff6e9bad7f33$</string>
            <key>textureFileName</key>
            <string>PinkArcherAttackToNorthEast.png</string>
        </dict>
    </dict>
</plist>
