<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>201.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{68,55}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>202.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,59}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>203.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{58,57}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>204.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PinkArcherAttackToWest.png</string>
            <key>size</key>
            <string>{256,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b1b4eea6b974cb88dd5fbf3d268db3c:99e4790af987aade6f7887b5cafaa0f8:5c0a941d15e7f27ee743fe55d2b2a84e$</string>
            <key>textureFileName</key>
            <string>PinkArcherAttackToWest.png</string>
        </dict>
    </dict>
</plist>
