<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>183.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,2},{50,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{50,65}</string>
            </dict>
            <key>184.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PinkArcherStandAndFaceToEast.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5211dcb7a73e4fa4dccb3f17b08f303:8a8867fd66e5fb748ff0b32ef07e1e12:8dad8b554ef2a316484d4ad7d0fe69a1$</string>
            <key>textureFileName</key>
            <string>PinkArcherStandAndFaceToEast.png</string>
        </dict>
    </dict>
</plist>
