<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>173.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>174.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{56,71}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>175.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{52,73}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>176.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{52,69}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>177.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{54,73}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>178.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,77},{54,71}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>179.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,150},{50,67}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>180.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,150},{46,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PinkArcherMoveToNorthEast.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52f7830a147161ec94dc3aeae5d10a21:3e28e2385d81709250d4ba512d6cfac3:69ffac8cfac8ea672830f0d2b96c294a$</string>
            <key>textureFileName</key>
            <string>PinkArcherMoveToNorthEast.png</string>
        </dict>
    </dict>
</plist>
