<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>186.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{44,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>187.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PinkArcherStandAndFaceToNorthWest.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdac350cb6fcaef12708ea29ddce2e55:c867f5caa5a7ec5ff9eb757d9d9aa6f3:e11816fa704729e71d826e1f8feb88e9$</string>
            <key>textureFileName</key>
            <string>PinkArcherStandAndFaceToNorthWest.png</string>
        </dict>
    </dict>
</plist>
