<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>205.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{42,78}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>sourceSize</key>
                <string>{70,78}</string>
            </dict>
            <key>206.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{34,74}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>sourceSize</key>
                <string>{60,74}</string>
            </dict>
            <key>207.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{40,74}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
            <key>208.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,70}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>sourceSize</key>
                <string>{74,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PinkArcherAttackToNorthWest.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:909d5c81a6132167129cf37ff5d3fe58:aca7fb7fa0729983eb5f4adbcfd33e08:67aae8ed40b56e20d16a1c9e32afe6ed$</string>
            <key>textureFileName</key>
            <string>PinkArcherAttackToNorthWest.png</string>
        </dict>
    </dict>
</plist>
