<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>201.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{68,55}}</string>
                <key>offset</key>
                <string>{8,-12}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>202.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,59}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>203.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{58,57}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
            <key>204.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{56,55}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>sourceSize</key>
                <string>{90,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PinkArcherAttackToEast.plist</string>
            <key>size</key>
            <string>{256,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cee08f4e558f28b1172b813e1fabf76:74f5fdba4fb6ec5d7e284de05dab226a:2f4003e7e5a8dba24d1167b6a2790068$</string>
            <key>textureFileName</key>
            <string>PinkArcherAttackToEast.plist</string>
        </dict>
    </dict>
</plist>
