<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>145.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>146.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{51,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,65}</string>
            </dict>
            <key>147.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,69},{49,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{49,64}</string>
            </dict>
            <key>148.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{51,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PurpleArcherAttackToSouthWest.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:071a0103c2b93e56ec534f22781ebcf5:b0b0419ec718b4e2af31d8e80c3563c4:60761e24cdbfb6e881f7fad2534be366$</string>
            <key>textureFileName</key>
            <string>PurpleArcherAttackToSouthWest.png</string>
        </dict>
    </dict>
</plist>
