<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>113.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{63,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{63,56}</string>
            </dict>
            <key>114.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{65,58}</string>
            </dict>
            <key>115.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,117},{53,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{53,60}</string>
            </dict>
            <key>116.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{51,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,61}</string>
            </dict>
            <key>117.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{55,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>118.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,61},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>119.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>120.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,179},{50,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{50,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PurpleArcherMoveToEast.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7792987b13a0ac8bf6cb7457e081a4ca:add0e59f3911416111c477f3494c3146:0261d90fe7cb25263c69f8344e2383f6$</string>
            <key>textureFileName</key>
            <string>PurpleArcherMoveToEast.png</string>
        </dict>
    </dict>
</plist>
