<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>153.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,2},{41,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{41,78}</string>
            </dict>
            <key>154.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{34,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{34,74}</string>
            </dict>
            <key>155.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{40,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{40,73}</string>
            </dict>
            <key>156.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{53,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{53,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PurpleArcherAttackToNorthWest.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f92a8fb1dc9752ece1c1a75a0672e31:da50a47c8392f1467ab57cbf821b8da4:f8ec2c56861c4b1a531ec31aad58fc3c$</string>
            <key>textureFileName</key>
            <string>PurpleArcherAttackToNorthWest.png</string>
        </dict>
    </dict>
</plist>
