<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>121.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{49,75}</string>
            </dict>
            <key>122.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,77},{55,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{55,70}</string>
            </dict>
            <key>123.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{51,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,73}</string>
            </dict>
            <key>124.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{51,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,69}</string>
            </dict>
            <key>125.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,79},{53,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{53,73}</string>
            </dict>
            <key>126.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{54,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>127.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,149},{49,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{49,66}</string>
            </dict>
            <key>128.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,149},{46,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{46,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PurpleArcherMoveToNorthWest.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90ad1240eeab38ce9476407bc24c6de3:6403ed1b50ca4aac60d03c5fac0f8884:d1057d7c4d949cfa585bd74214e72a72$</string>
            <key>textureFileName</key>
            <string>PurpleArcherMoveToNorthWest.png</string>
        </dict>
    </dict>
</plist>
