<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>145.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>146.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{51,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,65}</string>
            </dict>
            <key>147.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,69},{49,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{49,64}</string>
            </dict>
            <key>148.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{51,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{51,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PurpleArcherAttackToSouthEast.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:466418e28800e278be554d95e1c7fd9d:e783bc2cb6daf876a3f2929ec3a49008:254d7e24a543e2420bb25b132be7df81$</string>
            <key>textureFileName</key>
            <string>PurpleArcherAttackToSouthEast.png</string>
        </dict>
    </dict>
</plist>
