<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>105.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{55,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
            <key>106.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
            <key>107.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{49,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{49,59}</string>
            </dict>
            <key>108.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,189},{47,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{47,58}</string>
            </dict>
            <key>109.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{46,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{46,60}</string>
            </dict>
            <key>110.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,67},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>111.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,129},{46,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{46,57}</string>
            </dict>
            <key>112.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PurpleArcherMoveToSouthWest.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc286bcfd745e28dbb524ff8dfe53746:2933ca6d46c230c5b0028c4192ea60d4:05de3b68d00285d210a42e61c6212c83$</string>
            <key>textureFileName</key>
            <string>PurpleArcherMoveToSouthWest.png</string>
        </dict>
    </dict>
</plist>
