<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>105.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{55,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
            <key>106.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{55,63}</string>
            </dict>
            <key>107.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,67},{49,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{49,59}</string>
            </dict>
            <key>108.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,189},{47,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{47,58}</string>
            </dict>
            <key>109.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{46,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{46,60}</string>
            </dict>
            <key>110.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,67},{48,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{48,60}</string>
            </dict>
            <key>111.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,129},{46,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{46,57}</string>
            </dict>
            <key>112.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PurpleArcherMoveToSouthEast.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f05f5261606558332dbf5f182a489ac:698f72996a84caee9a8dc30230c4b95b:9f4fa6fe162b66e318bd6d2d54bcce40$</string>
            <key>textureFileName</key>
            <string>PurpleArcherMoveToSouthEast.png</string>
        </dict>
    </dict>
</plist>
