<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>149.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{68,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{68,55}</string>
            </dict>
            <key>150.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{60,58}</string>
            </dict>
            <key>151.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>152.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PurpleArcherAttackToWest.png</string>
            <key>size</key>
            <string>{256,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:819fdf4dfffb771d993807a9bd2e6b1c:c637b638cdfe1632dbaba0e79baaa315:213eaeedf82aa5fa21850b953c5a0ecb$</string>
            <key>textureFileName</key>
            <string>PurpleArcherAttackToWest.png</string>
        </dict>
    </dict>
</plist>
