<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>129.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{53,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{53,63}</string>
            </dict>
            <key>130.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{54,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PurpleArcherStandAndFaceToSouthWest.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f5a729e53b7886078872131d3b0545cd:e691e5e06dc127859bb686c93b792950:113a2e317db1c72d414ddcb41f64705f$</string>
            <key>textureFileName</key>
            <string>PurpleArcherStandAndFaceToSouthWest.png</string>
        </dict>
    </dict>
</plist>
