<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>276.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,203},{100,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>277.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{106,96}</string>
            </dict>
            <key>278.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,97},{102,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{102,98}</string>
            </dict>
            <key>279.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,189},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>280.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>281.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{104,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{104,95}</string>
            </dict>
            <key>282.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,96},{103,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{103,90}</string>
            </dict>
            <key>283.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,99},{102,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{102,88}</string>
            </dict>
            <key>284.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,188},{99,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{99,90}</string>
            </dict>
            <key>285.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{103,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{103,93}</string>
            </dict>
            <key>286.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{103,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{103,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>QueenRunToEast.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:debddbc18fb776e7c3d35b20893bcbca:9195fdf984169379747b36d1dbb43d5c:8f09ef66ddd96f56c89795e05073d031$</string>
            <key>textureFileName</key>
            <string>QueenRunToEast.png</string>
        </dict>
    </dict>
</plist>
