<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>265.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{89,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{89,98}</string>
            </dict>
            <key>266.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{89,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{89,99}</string>
            </dict>
            <key>267.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{90,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{90,98}</string>
            </dict>
            <key>268.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{90,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{90,97}</string>
            </dict>
            <key>269.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,2},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>270.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{83,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{83,97}</string>
            </dict>
            <key>271.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{86,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{86,99}</string>
            </dict>
            <key>272.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{90,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{90,98}</string>
            </dict>
            <key>273.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{90,99}</string>
            </dict>
            <key>274.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{89,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{89,99}</string>
            </dict>
            <key>275.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{89,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{89,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>QueenRunToSouthEast.png</string>
            <key>size</key>
            <string>{1024,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc770b4842a2fb67421e57e17096fd6f:27fb7202bfe867f2202fe4e0731e2d33:a0ed77cbd9895536d57cbfb4bff189b8$</string>
            <key>textureFileName</key>
            <string>QueenRunToSouthEast.png</string>
        </dict>
    </dict>
</plist>
