<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4006.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{86,79}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
            <key>4007.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{104,103}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
            <key>4008.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,495},{114,131}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
            <key>4009.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{120,149}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
            <key>4010.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,330},{130,147}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
            <key>4011.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{134,155}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
            <key>4012.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{134,159}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
            <key>4013.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,163}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
            <key>4014.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{132,165}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
            <key>4015.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,159},{132,167}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
            <key>4016.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,163},{132,165}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
            <key>4017.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,328},{130,165}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
            <key>4018.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{128,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
            <key>4019.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,479},{122,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
            <key>4020.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,602},{112,145}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
            <key>4021.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,632},{110,135}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
            <key>4022.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,328},{106,137}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
            <key>4023.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,628},{110,145}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
            <key>4024.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,467},{106,133}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>sourceSize</key>
                <string>{140,171}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>Explode.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf872d3d193fe0babf4e7074f8b171c4:f06e96cb973ac21e91a3ffdb8bc59985:2690d51ff1b91625827462e30d1f7a9e$</string>
            <key>textureFileName</key>
            <string>Explode.png</string>
        </dict>
    </dict>
</plist>
