<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4841.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{63,80}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4842.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4843.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,142},{53,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4844.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,72},{57,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlackGargAttackToNorthEast.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd1b4a568196aa60d975d6e40a3ae2bf:fa292da5ec352a2dc108906b5ba007f4:30242763f05a429b3411ba1a0f0bd872$</string>
            <key>textureFileName</key>
            <string>BlackGargAttackToNorthEast.png</string>
        </dict>
    </dict>
</plist>
