<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4833.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,78}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4834.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{71,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4835.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,162},{53,62}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4836.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{57,68}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlackGargAttackToSouthWest.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d25b13311fd78af4b212b26138e67562:972245022880ce9ac032ac47702c87ca:ca9a8421d3870ae3b3eb7358da083c3c$</string>
            <key>textureFileName</key>
            <string>BlackGargAttackToSouthWest.png</string>
        </dict>
    </dict>
</plist>
