<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4837.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,82}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4838.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{53,82}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4839.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,86},{51,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4840.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{53,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlackGargAttackToWest.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b14fa378d9f3a00d6cdb925dee518f02:e0fcd98399b94f8f32885bbac880847e:eb4647c217b813f472381fc045a2b5a0$</string>
            <key>textureFileName</key>
            <string>BlackGargAttackToWest.png</string>
        </dict>
    </dict>
</plist>
