<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4825.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{57,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4826.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{65,72}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4827.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,76},{71,70}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4828.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,156},{71,70}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4829.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,80},{57,74}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4830.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{51,76}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4831.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4832.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{59,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlackGargMoveToNorthEast.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1253d60ee8fc25069dfdcb594a512522:64a384668eecd8513370594f4b63e809:c33d5de1c4e30c1ae64357d138a183ce$</string>
            <key>textureFileName</key>
            <string>BlackGargMoveToNorthEast.png</string>
        </dict>
    </dict>
</plist>
