<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4817.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{57,80}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4818.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4819.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{55,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4820.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,152},{55,70}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4821.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,80},{55,70}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4822.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,72},{55,68}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4823.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{55,68}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4824.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{55,76}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlackGargMoveToWest.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a491ba3587206705dea78ee3ec96565:6b382f06499357a639ffa3ac76a0b85d:906bf6d8a8d3c133f63b7741c2f465ee$</string>
            <key>textureFileName</key>
            <string>BlackGargMoveToWest.png</string>
        </dict>
    </dict>
</plist>
