<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4837.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,82}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4838.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{53,82}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4839.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,86},{51,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>4840.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{53,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlackGargAttackToEast.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c7b569ff4c0cff48645f18e4d75c1c4:2ba477b0bfe6ae3ad2e7f72c030d6700:f2bdcc3af93e4bf1f41a9260c72ac480$</string>
            <key>textureFileName</key>
            <string>BlackGargAttackToEast.png</string>
        </dict>
    </dict>
</plist>
