<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1837.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,82}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1838.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{53,82}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1839.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,86},{51,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1840.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{53,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueGargAttackToEast.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:549a29572271b4489e11f0072f5ff5cc:97d9409faed8f3b350f2686be47941ca:06830399b070292c3f272c7eb4886ca9$</string>
            <key>textureFileName</key>
            <string>BlueGargAttackToEast.png</string>
        </dict>
    </dict>
</plist>
