<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1809.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{53,80}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1810.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1811.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{71,84}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1812.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,176},{67,66}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1813.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{57,60}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1814.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{51,60}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1815.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,84},{53,64}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1816.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{59,72}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueGargMoveToSouthWest.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f7c0e0eab02282917930df715e282be:4a167ecabd7f0207f51f64e54b28de69:3f19473b44189bb0d8db1251417bd1d1$</string>
            <key>textureFileName</key>
            <string>BlueGargMoveToSouthWest.png</string>
        </dict>
    </dict>
</plist>
