<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1817.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{57,80}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1818.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1819.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{55,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1820.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,152},{55,70}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1821.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,80},{55,70}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1822.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,72},{55,68}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1823.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{55,68}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1824.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{55,76}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueGargMoveToWest.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faa5d962a8a90f73382253b3dc269f70:c9d8a4e233da8a2bb6b654486142581b:6a937aae48e9858f9ba81546181964e4$</string>
            <key>textureFileName</key>
            <string>BlueGargMoveToWest.png</string>
        </dict>
    </dict>
</plist>
