<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1833.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,78}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1834.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{71,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1835.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,162},{53,62}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1836.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{57,68}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueGargAttackToSouthEast.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f498b233a5e45ba53d03f7c1485f574c:b5b08805853854b0980e68e70c04bb3f:2818aeac303f26c2bc7a999e8d2f8c68$</string>
            <key>textureFileName</key>
            <string>BlueGargAttackToSouthEast.png</string>
        </dict>
    </dict>
</plist>
