<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1817.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{57,80}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1818.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1819.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{55,82}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1820.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,152},{55,70}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1821.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,80},{55,70}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1822.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,72},{55,68}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1823.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{55,68}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1824.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{55,76}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueGargMoveToEast.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdb885cf5928cfa1eff5beb2ba1f635f:b9a38768971a90ff2bf3242a68c2492a:57afb7812e996b4dd5cb010f0a359012$</string>
            <key>textureFileName</key>
            <string>BlueGargMoveToEast.png</string>
        </dict>
    </dict>
</plist>
