<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1809.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{53,80}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1810.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1811.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{71,84}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1812.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,176},{67,66}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1813.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{57,60}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1814.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{51,60}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1815.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,84},{53,64}}</string>
                <key>offset</key>
                <string>{5,-11}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1816.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{59,72}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueGargMoveToSouthEast.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec73dab9972e14272760a7b02f690bbc:457d59aeb3fa8f4f3f2ba9ae7f67249f:b62f4faa2d4ada9c231d74cdbb03f4ab$</string>
            <key>textureFileName</key>
            <string>BlueGargMoveToSouthEast.png</string>
        </dict>
    </dict>
</plist>
