<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1841.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{63,80}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1842.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,68}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1843.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,142},{53,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1844.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,72},{57,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueGargAttackToNorthEast.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9abd3e9d0f69105467fa88ddc509b523:5f03fbfbc33e90b53b542b5c997a3add:1c99f3be6978893ac2c316acae81425a$</string>
            <key>textureFileName</key>
            <string>BlueGargAttackToNorthEast.png</string>
        </dict>
    </dict>
</plist>
