<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1833.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,78}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1834.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{71,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1835.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,162},{53,62}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
            <key>1836.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{57,68}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>sourceSize</key>
                <string>{77,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueGargAttackToSouthWest.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af36b755b2d376876194751baeb926c5:47a55383390eb96c36ad73549e1a4e90:3798bbb7629ab9b6d1a8a6e7a5be4641$</string>
            <key>textureFileName</key>
            <string>BlueGargAttackToSouthWest.png</string>
        </dict>
    </dict>
</plist>
