<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlackAttack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{173,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{173,227}</string>
            </dict>
            <key>BlackAttack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{173,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{173,227}</string>
            </dict>
            <key>BlackAttack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{173,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{173,227}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlackBalloonAttack.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:163e9af61f58b018a9b72a32857bd66d:76324a3e1b1f5ba2caf0a291da235ca5:e5fdfd97971e38a3fbee502461c2cf37$</string>
            <key>textureFileName</key>
            <string>BlackBalloonAttack.png</string>
        </dict>
    </dict>
</plist>
