<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack0.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{158,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{158,211}</string>
            </dict>
            <key>Attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{158,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{158,211}</string>
            </dict>
            <key>Attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{158,211}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>RedBalloonAttack.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01dac61ce1eaf5c4c280adb827beccdb:b4d093e9ea295e319cf9abdd6e858cc0:1df39189d4c8c9c1bab0701009082768$</string>
            <key>textureFileName</key>
            <string>RedBalloonAttack.png</string>
        </dict>
    </dict>
</plist>
