<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3285.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,66}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3287.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{60,66}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3289.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,138},{56,62}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3291.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,64},{46,60}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3293.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,70},{42,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3295.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{42,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3297.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{52,60}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3299.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{56,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueEnchanterMoveToSouthWest.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ac3d990fb37f280747738215b32435b:42b6599fc8e39551e512620cf6bf2e93:da74a5f0b2467a02d82565f893dc858c$</string>
            <key>textureFileName</key>
            <string>BlueEnchanterMoveToSouthWest.png</string>
        </dict>
    </dict>
</plist>
