<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3339.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,64},{56,62}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3341.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,128},{54,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3343.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{58,74}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3345.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{60,60}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3347.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{52,50}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3349.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{54,46}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3351.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,56}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueEnchanterAttackToSouthEast.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d4a9f8c47c7d25ca84bd826f09726ad:4c3fc6b816a425fd3fa4ddfe81e76fc8:33e16717abc6ca04c1f6c118aa3ca4e4$</string>
            <key>textureFileName</key>
            <string>BlueEnchanterAttackToSouthEast.png</string>
        </dict>
    </dict>
</plist>
