<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3353.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{44,66}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3355.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{38,76}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3357.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,80}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3359.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{50,74}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3361.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{68,62}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3363.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{66,62}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3365.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,70},{60,64}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueEnchanterAttackToWest.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce80fb1875d7afc95cea82e8e91f9eb6:995ac0990120317bc8363e9b4862b847:bc8b167ce1dcc7485f5a553be522e7e2$</string>
            <key>textureFileName</key>
            <string>BlueEnchanterAttackToWest.png</string>
        </dict>
    </dict>
</plist>
