<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3333.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueEnchanterStandToSouthWest.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fc69887c1da72a42714199e87731cf7:bcdca70dfba293f8e4bbb589c790a77e:b6baaad62185ed722cb6f7e398e6a148$</string>
            <key>textureFileName</key>
            <string>BlueEnchanterStandToSouthWest.png</string>
        </dict>
    </dict>
</plist>
