<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3317.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{42,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3319.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,84},{48,80}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3321.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{54,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3323.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,90},{58,84}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3325.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,86}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3327.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{58,84}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3329.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{48,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3331.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{50,76}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueEnchanterMoveToNorthEast.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a009bdbed4281220e61cc11ce460fdca:d4a46e1161ee52887fb4cea2492aec0c:204c129293e6913a1904dca967399821$</string>
            <key>textureFileName</key>
            <string>BlueEnchanterMoveToNorthEast.png</string>
        </dict>
    </dict>
</plist>
