<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3338.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,72}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PurpleEnchanterStandToNorthWest.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc78dfdabb8be2774047a49896a2b3ec:5c80a6839915b68f2c111270736e41b8:76c1db24d023dff7652fb92b2df5bd27$</string>
            <key>textureFileName</key>
            <string>PurpleEnchanterStandToNorthWest.png</string>
        </dict>
    </dict>
</plist>
