<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3318.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{42,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3320.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,84},{48,80}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3322.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{54,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3324.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,90},{58,84}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3326.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,86}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3328.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{58,84}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3330.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{48,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3332.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{50,76}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PurpleEnchanterMoveToNorthEast.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:628baba4bd59763a7e3233be6cad3c0a:1b3e93f9330ed97d53da9f82b4b66831:78381fe4c9fc844d0a71d568e8ba0eb6$</string>
            <key>textureFileName</key>
            <string>PurpleEnchanterMoveToNorthEast.png</string>
        </dict>
    </dict>
</plist>
