<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3286.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,66}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3288.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{60,66}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3290.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,138},{56,62}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3292.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,64},{46,60}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3294.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,70},{42,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3296.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{42,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3298.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{52,60}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3300.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{56,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PurpleEnchanterMoveToSouthWest.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49490e768024ee702cac4c71b2ab777d:14638692d264186db9f63f80f03247ff:4d86a1766507f21cff2e11c17e9066d6$</string>
            <key>textureFileName</key>
            <string>PurpleEnchanterMoveToSouthWest.png</string>
        </dict>
    </dict>
</plist>
