<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3354.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{44,66}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3356.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{38,76}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3358.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,80}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3360.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{50,74}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3362.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{68,62}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3364.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{66,62}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3366.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,70},{60,64}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PurpleEnchanterAttackToWest.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab497fff002a629048d86c33ea7622e1:675d1375bcba131e74432fb75505ab63:81889fedad923517b7993541c5b00223$</string>
            <key>textureFileName</key>
            <string>PurpleEnchanterAttackToWest.png</string>
        </dict>
    </dict>
</plist>
