<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3318.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{42,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3320.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,84},{48,80}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3322.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{54,80}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3324.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,90},{58,84}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3326.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,86}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3328.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{58,84}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3330.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{48,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3332.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{50,76}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PurpleEnchanterMoveToNorthWest.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc207f528c849cdff2d80827879ffb5a:bd4ca7319a20be7672adec74216e8405:12849e328c06783aaf95f079fb9ca89b$</string>
            <key>textureFileName</key>
            <string>PurpleEnchanterMoveToNorthWest.png</string>
        </dict>
    </dict>
</plist>
