<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3286.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,66}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3288.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{60,66}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3290.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,138},{56,62}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3292.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,64},{46,60}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3294.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,70},{42,62}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3296.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{42,60}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3298.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{52,60}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3300.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{56,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PurpleEnchanterMoveToSouthEast.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:797cf1ae5145e2e50123d5228f6f2464:fd1299a72121342860c1f30ae83d01d5:a69ca05e0fc4ac0367ccd861ebf2f01f$</string>
            <key>textureFileName</key>
            <string>PurpleEnchanterMoveToSouthEast.png</string>
        </dict>
    </dict>
</plist>
