<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3302.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{66,64}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3304.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,70}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3306.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{44,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3308.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{58,68}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3310.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,142},{64,64}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3312.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{56,62}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3314.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,68},{48,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3316.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,74},{52,66}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PurpleEnchanterMoveToEast.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8083f0d24621d7508b94473ef872f19:0965dc77bcaca0530995a87da8fb35e4:788d96239cbe2e78924d6ea00db9242a$</string>
            <key>textureFileName</key>
            <string>PurpleEnchanterMoveToEast.png</string>
        </dict>
    </dict>
</plist>
