<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3340.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,64},{56,62}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3342.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,128},{54,70}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3344.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{58,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3346.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{60,60}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3348.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{52,50}}</string>
                <key>offset</key>
                <string>{-10,-16}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3350.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{54,46}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>3352.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,56}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>PurpleEnchanterAttackToSouthWest.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3c15e0f501858179c33ff392d1d7e27:fb954e05aeed8fb00cf2e29c949d69b4:4659161cee6a498a07dcfdfa04a65ce2$</string>
            <key>textureFileName</key>
            <string>PurpleEnchanterAttackToSouthWest.png</string>
        </dict>
    </dict>
</plist>
