<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2858.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{54,70}}</string>
                <key>offset</key>
                <string>{3,59}</string>
                <key>sourceSize</key>
                <string>{1372,900}</string>
            </dict>
            <key>2859.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{226,194}}</string>
                <key>offset</key>
                <string>{12,44}</string>
                <key>sourceSize</key>
                <string>{1372,900}</string>
            </dict>
            <key>2860.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,842},{352,250}}</string>
                <key>offset</key>
                <string>{18,67}</string>
                <key>sourceSize</key>
                <string>{1372,900}</string>
            </dict>
            <key>2861.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1104},{496,368}}</string>
                <key>offset</key>
                <string>{50,180}</string>
                <key>sourceSize</key>
                <string>{1372,900}</string>
            </dict>
            <key>2862.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{560,260}}</string>
                <key>offset</key>
                <string>{53,173}</string>
                <key>sourceSize</key>
                <string>{1372,900}</string>
            </dict>
            <key>2863.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{676,418}}</string>
                <key>offset</key>
                <string>{52,64}</string>
                <key>sourceSize</key>
                <string>{1372,900}</string>
            </dict>
            <key>2864.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{676,418}}</string>
                <key>offset</key>
                <string>{52,64}</string>
                <key>sourceSize</key>
                <string>{1372,900}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BuildingDestroyAnimation.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d56696fca362897c378769dfdfb90e18:508a28afb1d2eab185453ba1d2b53257:929fdeadb42997f0f80dfdac3495e626$</string>
            <key>textureFileName</key>
            <string>BuildingDestroyAnimation.png</string>
        </dict>
    </dict>
</plist>
