<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Level1Rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{108,20}</string>
            </dict>
            <key>Level2Rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,46},{42,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{108,20}</string>
            </dict>
            <key>Level3Rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{62,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{108,20}</string>
            </dict>
            <key>Level4Rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{84,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{108,20}</string>
            </dict>
            <key>Level5Rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{108,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>LevelRanks.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da47bb2bd7ed8fcdab5674ed569473c2:ed1789c2b3a5e9d8047e26b9ea729dfa:ae3da2651bce1876532a6cdedb36885b$</string>
            <key>textureFileName</key>
            <string>LevelRanks.png</string>
        </dict>
    </dict>
</plist>
