<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>661.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,356},{48,84}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>662.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,268},{68,84}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>663.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,92},{106,86}}</string>
                <key>offset</key>
                <string>{-23,2}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>664.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,180},{94,86}}</string>
                <key>offset</key>
                <string>{-25,2}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>665.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{80,94}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>666.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,88}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>667.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{126,88}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>668.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{110,88}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>669.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{92,88}}</string>
                <key>offset</key>
                <string>{20,3}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>670.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,268},{84,86}}</string>
                <key>offset</key>
                <string>{15,2}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>671.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,354},{64,84}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueBarbarianAttackToEast.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:570f8cd7af959ef5cede0d6876d3efde:5755cbfee35cb960b834d2664908a9a2:7d5b43d5c2870b1504a0fcdf4c72f22a$</string>
            <key>textureFileName</key>
            <string>BlueBarbarianAttackToEast.png</string>
        </dict>
    </dict>
</plist>
