<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>650.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,222},{46,70}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>651.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,184},{60,86}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>652.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,106},{62,114}}</string>
                <key>offset</key>
                <string>{-10,18}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>653.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{66,96}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>654.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,184},{56,66}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>655.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,102}}</string>
                <key>offset</key>
                <string>{17,-22}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>656.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{72,102}}</string>
                <key>offset</key>
                <string>{17,-22}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>657.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,86},{70,96}}</string>
                <key>offset</key>
                <string>{16,-21}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>658.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{72,82}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>659.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{62,64}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>660.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,252},{48,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueBarbarianAttackToSouthEast.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c74bcb0df5ab445f243f4dfbde71f4f7:76e21619c5f2ab0ec53964b2412f52db:73ddce9486634c137582aa2f9f3b627a$</string>
            <key>textureFileName</key>
            <string>BlueBarbarianAttackToSouthEast.png</string>
        </dict>
    </dict>
</plist>
