<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>612.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,96}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>613.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,100},{68,92}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>614.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{54,84}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>615.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,156},{52,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>616.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,80},{62,74}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>617.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{64,76}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>618.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{60,84}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>619.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{66,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueBarbarianMoveToNorthEast.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d52b61c60e2070dce9a4f1e80cc24a1b:c876629e5f52748051ae188f1f8775aa:58210724f7218bc303d3772c4ed77d50$</string>
            <key>textureFileName</key>
            <string>BlueBarbarianMoveToNorthEast.png</string>
        </dict>
    </dict>
</plist>
