<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>650.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,222},{46,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>651.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,184},{60,86}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>652.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,106},{62,114}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>653.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{66,96}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>654.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,184},{56,66}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>655.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,102}}</string>
                <key>offset</key>
                <string>{-18,-22}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>656.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{72,102}}</string>
                <key>offset</key>
                <string>{-17,-22}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>657.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,86},{70,96}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>658.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{72,82}}</string>
                <key>offset</key>
                <string>{-17,-13}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>659.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{62,64}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>660.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,252},{48,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueBarbarianAttackToSouthWest.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:096242f4b9eff3ef891476b7c24ef9ca:ca8f84a85c2565be26bb4dc88b923c73:61781a7b68c4bf6d6a7657c2693a7095$</string>
            <key>textureFileName</key>
            <string>BlueBarbarianAttackToSouthWest.png</string>
        </dict>
    </dict>
</plist>
