<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>604.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,72}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>605.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,76},{64,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>606.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{52,80}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>607.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,76},{64,78}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>608.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{64,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>609.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{60,78}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>610.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{54,80}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>611.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,158},{68,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueBarbarianMoveToWest.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89afbd6a7ee8b0fb20424a62b0561df3:c08542faf8610bddfffe72981a509855:464a41e5750e7f27c95abeb4777b7ac5$</string>
            <key>textureFileName</key>
            <string>BlueBarbarianMoveToWest.png</string>
        </dict>
    </dict>
</plist>
