<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>596.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,144},{50,68}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>597.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,72},{48,68}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>598.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,72},{52,64}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>599.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,68}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>600.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{62,68}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>601.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,70}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>602.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{52,68}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
            <key>603.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,142},{46,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>sourceSize</key>
                <string>{160,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BlueBarbarianMoveToSouthEast.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96f7ddebb362aab29e8732108d1feb4d:0d514594606cdc81bdf73987850164ad:7385888a9a0f218054477d80a2f649f8$</string>
            <key>textureFileName</key>
            <string>BlueBarbarianMoveToSouthEast.png</string>
        </dict>
    </dict>
</plist>
