<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>563.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,102},{65,100}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>564.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{81,76}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>565.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{67,116}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>566.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{63,108}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>567.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,392},{53,72}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>568.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{79,98}}</string>
                <key>offset</key>
                <string>{-18,-22}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>569.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2},{79,98}}</string>
                <key>offset</key>
                <string>{-18,-22}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>570.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,204},{61,98}}</string>
                <key>offset</key>
                <string>{-9,-25}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>571.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{51,98}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>572.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{57,100}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>573.0.fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,120},{61,102}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BrownBarbarianAttackToSouthWest.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e8fd6550dd1d5fd9957f2769184e28d:e9816722bbfa924901c5dc8fa4cd5b9a:4c7e5bd7ed01dc3b1109f4fa8964a04f$</string>
            <key>textureFileName</key>
            <string>BrownBarbarianAttackToSouthWest.png</string>
        </dict>
    </dict>
</plist>
