<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>574.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,340},{67,90}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>575.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,332},{71,80}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>576.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,84},{109,80}}</string>
                <key>offset</key>
                <string>{-20,-5}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>577.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,166},{103,78}}</string>
                <key>offset</key>
                <string>{-18,-6}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>578.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{66,99}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>sourceSize</key>
                <string>{160,119}</string>
            </dict>
            <key>579.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{131,82}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>580.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,82}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>581.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{125,80}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>582.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{113,80}}</string>
                <key>offset</key>
                <string>{15,-5}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>583.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,246},{95,84}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>584.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{75,86}}</string>
                <key>offset</key>
                <string>{12,-8}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BrownBarbarianAttackToEast.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56c90f3847295fa02a3954c111bfdd9d:5672aaa3e732e3a7474d3c2d87bd27cc:38b4075c8de2ca13146a0fc12b64253e$</string>
            <key>textureFileName</key>
            <string>BrownBarbarianAttackToEast.png</string>
        </dict>
    </dict>
</plist>
