<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>585.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{89,72}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>586.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,80},{59,72}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>587.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,164},{73,72}}</string>
                <key>offset</key>
                <string>{-12,-20}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>588.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{75,76}}</string>
                <key>offset</key>
                <string>{-23,-18}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>589.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,164},{75,112}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>590.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,278},{69,82}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>591.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,238},{69,82}}</string>
                <key>offset</key>
                <string>{-18,-15}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>592.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{81,82}}</string>
                <key>offset</key>
                <string>{-13,-15}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>593.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,80},{91,82}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>594.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{97,80}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
            <key>595.0.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,2},{95,76}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>sourceSize</key>
                <string>{161,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BrownBarbarianAttackToNorthEast.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4e283da3ae9a2ff6c11a8cac21d5358:0df7ea8618f88b0f40d555d3822811d5:b6c270341961bf0588945b5f4e34c22b$</string>
            <key>textureFileName</key>
            <string>BrownBarbarianAttackToNorthEast.png</string>
        </dict>
    </dict>
</plist>
