<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AIPillbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,766},{271,317}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{273,317}</string>
            </dict>
            <key>ArcherTower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,500},{193,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{193,245}</string>
            </dict>
            <key>ArcherTower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,747},{193,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{193,247}</string>
            </dict>
            <key>ArcherTower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,766},{193,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{193,247}</string>
            </dict>
            <key>ArcherTower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,251},{193,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{193,247}</string>
            </dict>
            <key>ArcherTower4.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1714},{193,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{193,247}</string>
            </dict>
            <key>ArcherTower5.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,2},{193,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{193,247}</string>
            </dict>
            <key>BaseCamp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{355,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{355,378}</string>
            </dict>
            <key>BaseCamp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{305,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{305,361}</string>
            </dict>
            <key>BeingBuiltStatusBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{328,346}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>BeingBuiltStatusMiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1015},{194,212}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>sourceSize</key>
                <string>{194,226}</string>
            </dict>
            <key>BigBlueSelectedTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{412,320}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>sourceSize</key>
                <string>{426,340}</string>
            </dict>
            <key>BigRedSelectedTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{412,320}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>sourceSize</key>
                <string>{426,340}</string>
            </dict>
            <key>BuildingShadowBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1737},{347,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{347,251}</string>
            </dict>
            <key>BuildingShadowMiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1517},{259,195}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>sourceSize</key>
                <string>{259,203}</string>
            </dict>
            <key>DisableBuildGrid.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1901},{158,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{158,120}</string>
            </dict>
            <key>EnableBuildGBrid.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1901},{158,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{158,120}</string>
            </dict>
            <key>InDestroyStatusBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,324},{359,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{359,250}</string>
            </dict>
            <key>InDestroyStatusMiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,576},{283,188}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>sourceSize</key>
                <string>{283,198}</string>
            </dict>
            <key>MagicTower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1677},{213,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{213,222}</string>
            </dict>
            <key>MagicTower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1677},{213,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{213,222}</string>
            </dict>
            <key>MagicTower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1677},{213,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{213,222}</string>
            </dict>
            <key>MagicTower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1453},{213,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{213,222}</string>
            </dict>
            <key>MagicTower4.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,996},{213,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{213,222}</string>
            </dict>
            <key>MagicTower5.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,1229},{213,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{213,222}</string>
            </dict>
            <key>MiddleBlueSelectedTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1301},{274,214}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{300,218}</string>
            </dict>
            <key>MiddleRedSelectedTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1085},{274,214}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{300,218}</string>
            </dict>
            <key>PlayerPillbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1415},{278,320}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{278,320}</string>
            </dict>
            <key>SmallBlueSelectedTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,576},{70,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{74,52}</string>
            </dict>
            <key>SmallRedSelectedTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,704},{70,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{74,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BuildingCommon.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0caff7e32ada5ed1daa92af5ecd1389e:4bcd3e0b26a5cc8d6ff55352d987b039:5b11d1a00a19f64b7970a6fe078cc93c$</string>
            <key>textureFileName</key>
            <string>BuildingCommon.png</string>
        </dict>
    </dict>
</plist>
