<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ArcherTower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,1317},{193,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{193,245}</string>
            </dict>
            <key>ArcherTower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1749},{193,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{193,247}</string>
            </dict>
            <key>ArcherTower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1749},{193,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{193,247}</string>
            </dict>
            <key>ArcherTower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1690},{193,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{193,247}</string>
            </dict>
            <key>ArcherTower4.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1500},{193,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{193,247}</string>
            </dict>
            <key>ArcherTower5.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1266},{193,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{193,247}</string>
            </dict>
            <key>BaseCamp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,324},{355,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{355,378}</string>
            </dict>
            <key>BaseCamp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,730},{305,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{305,361}</string>
            </dict>
            <key>BeingBuiltStatusBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,704},{328,346}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>BeingBuiltStatusMiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1052},{194,212}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>sourceSize</key>
                <string>{194,226}</string>
            </dict>
            <key>BigBlueSelectedTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{412,320}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>sourceSize</key>
                <string>{426,340}</string>
            </dict>
            <key>BigRedSelectedTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{412,320}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>sourceSize</key>
                <string>{426,340}</string>
            </dict>
            <key>BuildingShadowBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{347,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{347,251}</string>
            </dict>
            <key>BuildingShadowMiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1045},{259,195}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>sourceSize</key>
                <string>{259,203}</string>
            </dict>
            <key>DisableBuildGrid.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,124},{158,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{158,120}</string>
            </dict>
            <key>EnableBuildGBrid.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{158,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{158,120}</string>
            </dict>
            <key>InDestroyStatusBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{359,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{359,250}</string>
            </dict>
            <key>InDestroyStatusMiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,324},{283,188}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>sourceSize</key>
                <string>{283,198}</string>
            </dict>
            <key>MagicTower0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1466},{213,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{213,222}</string>
            </dict>
            <key>MagicTower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1466},{213,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{213,222}</string>
            </dict>
            <key>MagicTower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1276},{213,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{213,222}</string>
            </dict>
            <key>MagicTower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1093},{213,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{213,222}</string>
            </dict>
            <key>MagicTower4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{213,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{213,222}</string>
            </dict>
            <key>MagicTower5.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1052},{213,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{213,222}</string>
            </dict>
            <key>MiddleBlueSelectedTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,829},{274,214}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{300,218}</string>
            </dict>
            <key>MiddleRedSelectedTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,514},{274,214}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>sourceSize</key>
                <string>{300,218}</string>
            </dict>
            <key>SmallBlueSelectedTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,246},{70,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{74,52}</string>
            </dict>
            <key>SmallRedSelectedTips.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,246},{70,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>sourceSize</key>
                <string>{74,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BuildingCommon.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f649a944b67ef6cbc8492037d3eea0e:0bebfc4a63b32fd9e650bf6ff6674ca2:5b11d1a00a19f64b7970a6fe078cc93c$</string>
            <key>textureFileName</key>
            <string>BuildingCommon.png</string>
        </dict>
    </dict>
</plist>
