<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ArcherTower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1003},{193,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{193,245}</string>
            </dict>
            <key>ArcherTower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,752},{192,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{192,247}</string>
            </dict>
            <key>ArcherTower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,730},{198,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{198,265}</string>
            </dict>
            <key>ArcherTower4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{237,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{237,280}</string>
            </dict>
            <key>ArcherTower5.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,730},{230,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{230,296}</string>
            </dict>
            <key>BaseCamp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{355,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{355,378}</string>
            </dict>
            <key>BaseCamp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,389},{305,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{305,361}</string>
            </dict>
            <key>BeingBuiltStatusBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,382},{328,346}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>BeingBuiltStatusMiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,789},{194,212}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>sourceSize</key>
                <string>{194,226}</string>
            </dict>
            <key>BuildingShadowBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{347,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{347,251}</string>
            </dict>
            <key>BuildingShadowMiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,192},{259,195}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>sourceSize</key>
                <string>{259,203}</string>
            </dict>
            <key>DisableBuildGrid.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1028},{158,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{158,120}</string>
            </dict>
            <key>EnableBuildGBrid.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,997},{158,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{158,120}</string>
            </dict>
            <key>InDestroyStatusBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{359,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{359,250}</string>
            </dict>
            <key>InDestroyStatusMiddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{283,188}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>sourceSize</key>
                <string>{283,198}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>BuildingCommon.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b74b87daa2a3c8fd423de303878d1a7:05c6d267f84c62c166818684d718f1d2:5b11d1a00a19f64b7970a6fe078cc93c$</string>
            <key>textureFileName</key>
            <string>BuildingCommon.png</string>
        </dict>
    </dict>
</plist>
