<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ArcherTower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,216},{193,245}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{193,245}</string>
            </dict>
            <key>ArcherTower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,463},{192,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{192,247}</string>
            </dict>
            <key>ArcherTower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{198,265}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{198,265}</string>
            </dict>
            <key>ArcherTower4.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,730},{237,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{237,280}</string>
            </dict>
            <key>ArcherTower5.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{230,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{230,296}</string>
            </dict>
            <key>BaseCamp1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{355,378}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{355,378}</string>
            </dict>
            <key>BaseCamp2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{305,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{305,361}</string>
            </dict>
            <key>DisableBuildGrid.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,124},{158,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{158,120}</string>
            </dict>
            <key>EnableBuildGBrid.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,2},{158,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{158,120}</string>
            </dict>
            <key>InBuildingStatus.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{194,212}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>sourceSize</key>
                <string>{194,226}</string>
            </dict>
            <key>InBuildingStatusBig.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,382},{328,346}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>InDestroyStatus.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,745},{359,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>sourceSize</key>
                <string>{359,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>1</integer>
            <key>realTextureFileName</key>
            <string>Common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bffc43caaea953bf50a1f40b7a57bdbf:7ec82b6e87ae7a8978fc663db1eda656:593cab8d2a050374f0ff2769c430fb21$</string>
            <key>textureFileName</key>
            <string>Common.png</string>
        </dict>
    </dict>
</plist>
